<%= @reservation.id %>

<p>User: <%= @reservation.user_id %></p>
<p>Flight: <%= @reservation.flight_id %></p>

<%= link_to "Edit", edit_reservation_path(@reservation) %>
<%= link_to "Delete", @reservation, :method => :delete %>